// =====================================================================
//                      ABOUT US
// =====================================================================

#about {
    padding: 50px 0px;
    margin-top: em(80px);
    background: url('../../images/about-bg.jpg') no-repeat center / cover;
}

.about {
    color: $qpick__accent;

    &-pics {
       img {
        width: em(400px);
        margin: 0 auto;
       }
    }

    article {
        margin-top: em(50px);
        h2 {
            font-size: em(36px);
            margin-bottom: em(15px, 36px);
            font-weight: $font-weight--lg;
        }

        p {
            font-size: em(17px);
            font-weight: $font-weight--sm;
            line-height: em(32px, 17px);
        }

        .btn {
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
        }
    }
}