// =====================================================================
//                  CALL US 
// =====================================================================

#callus {
    margin: em(80px) 0px 0px;
    background: url('../../images/callus-bg.jpg') no-repeat center / cover;
    padding: 20px 0px;
}

.callus {
    width: 75%;
    margin: 0 auto;
    @include mq('md') {
        @include flexy($just: space-between, $align: center);
    }

    h4 {
        margin-bottom: 0px;
        color: $qpick__accent;
        font-size: em(21px);
        font-weight: $font-weight--sm;
    }

    .btn {
        text-transform: uppercase;
    }
}

