// ==========================================================================
//                            TOP NAV STYLES
// ==========================================================================
.tp-wrap {
    background-color: $qpick__black;
    color: $qpick__accent;
}

.top-nav {
    &--items {
        ul {
            @include flexy($just: space-between);
            li {
                display: block;
                margin-right: em(15px);
            }

            li:last-child {
                margin-right: 0px;
            }
            
            li.tp-phone {
                @include before-images {
                    background: transparent url('../../images/small-call.svg') no-repeat;
                }
            }

            li.tp-email {
                @include before-images {
                    background: transparent url('../../images/small-emails.svg') no-repeat;
                    top: 6px;
                }
            }

            li.tp-money {
                @include before-images {
                    background: transparent url('../../images/small-money.svg') no-repeat;
                }
            }

            li.tp-wallet {
                @include before-images {
                    background: transparent url('../../images/small-wallet.svg') no-repeat;
                }
            }

            li.tp-login {
                @include before-images {
                    background: transparent url('../../images/small-user.svg') no-repeat;
                }
            }

        }
        a {
            color: $qpick__accent;
            display: block;
            font-size: em(13px);
            padding: 5px 0px;
            font-weight: $font-weight--xs;
            padding-left: em(28px, 13px);
        }
    }
    @include mq('md') {
        @include flexy($just: space-between);
    }
}