// ==========================================================================
//                            CONTAINERS STYLES
// ==========================================================================

.site-container {
    width: 95%;
    margin: 0 auto;
    
    @include mq('xl') {
        width: 85%;
        max-width: 1600px;
    }
}