// GOOGLE FOONTS
$font-stack--google     : 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800';
$font-family--primary   : 'Poppins', sans-serif;

$font-weight--xs        : 300;
$font-weight--sm        : 400;
$font-weight--md        : 500;
$font-weight--lg        : 600;
$font-weight--xl        : 700;
$font-weight--xxl       : 800;

// QPICK COLORS

$primary__color          : #2b32b2;
$secondary__color        : #1488cc;
$qpick__red              : #d8335b;
$qpick__accent           : #edf5e1;
$qpick__black            : #282830;
$qpick__white            : #fff;
$qpick__grey             : #f3f7f8;
$border                  : lighten($qpick__black, 70%);

// COLOR MAPS

$ui-colors         : (
	default          : $qpick__black,
	info             : $secondary__color,
	warning          : $secondary__color,
	success          : $primary__color,
	error            : $qpick__red
);

// UNITS

$base-font               : 16px;
$base--line              : 24px;
$letter-space            : 1px;
$max-width               : 1200px;
$gutter                  : 30px;
$transition              : 0.4s;
$br-radius               : 5px;
$br-roundy               : 50%;
$spaceamounts            : (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides                   : (top, bottom, left, right);


// BREAKPOINTS

$breakpoints   : (
	'xs'         : 575px,
	'sm'         : 576px,
	'md'         : 768px,
	'lg'         : 1024px,
	'xl'         : 1280px,
	'xxl'        : 1900px,
);