// ===========================================================
//               MOBILE OVERLAY 
// ===========================================================
.botton-nav {
    position: relative;
}

.mobile--toggle {
    z-index: 999;
    @media(max-width: 767px) {
        position: absolute;
        top: em(25px);
        right: em(10px);
    }

    @include mq('lg') {
        display: none;
    }
}

.mobile {
    width: em(300px);
    height: 100%;
    padding: em(13px);
    background-color: $qpick__white;
    overflow-y: scroll;
    display: none;
    &-logo {
        width: 138px;
        margin: 0px auto 20px 33px;
    }
    &-nav {
        li {
            display: block;
            padding: 7px 0px;

            a {
                display: block;
            }
        }
    }
}

.overlay__panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.14);
    z-index: 999;
}

.mobile.js_mob__open {
    display: block;
}

// ===========================================================
//               MOBILE MENU LIST
// ===========================================================

.qpk__menu {
    color: $qpick__black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    padding: 0px;
    position: relative;
    &::after {
        content: '>';
        font-size: em(20px);
        display: block;
        color: $qpick__black;
        position: absolute;
        right: 10px;
        top: 0px;
    }
}

.active.qpk__menu::after {
    transform: rotate(90deg);
}

.qpk-mobile--button {
    display: block;
    padding: 6px 0px;
}

.menu__panel {
    padding: 0px;
    display: none;
    overflow: hidden;
    li {
        display: block;
        a {
            display: block;
            font-size: em(15px);
            line-height: em(30px);
        }
    }
}

.menu__panel.mob_jsOpen {
    display: block;  
}

.menu__panel.mob_jsClose {
    display: none;  
}